[mysqld]
################################################################################
### CORE ###
################################################################################
#basedir              = '/usr'
datadir             = '/data/sql/storage/'
# plugin_dir          = ''
secure_file_priv    = NULL
tmpdir              = '/logs/sql/tmp/'

pid-file            = '/run/mysqld/mysqld.pid'
socket              = '/run/mysqld/mysqld.sock'

port                = 3306
#user                = 'mysql'

#symbolic-links      = 0

persisted_globals_load = 0
persist_only_admin_x509_subject = ''
persist_sensitive_variables_in_plaintext = 0

character_set_server = 'utf8mb4'
collation_server     = 'utf8mb4_0900_ai_ci'
default_time_zone    = 'SYSTEM'

upgrade              = 'AUTO'
memlock              = 0

################################################################################
### CONNECTION ###
################################################################################
#ssl = 0
require_secure_transport = 0

host_cache_size = 0
skip_name_resolve = 1

connect_timeout = 60
wait_timeout = 3600 # 1 Hours
interactive_timeout = 3600 # 1 Hour

max_connections = 100
max_user_connections = 100

max_execution_time = 60000 # 1 Minute

max_connect_errors = 250
# connection_control_failed_connections_threshold = 0
# connection_control_min_connection_delay = 50
# connection_control_max_connection_delay = 1000

# max_allowed_packet = 67108864 # ~67 MB

################################################################################
### AUTHENTICATION ###
################################################################################
authentication_policy = 'mysql_native_password'
check_proxy_users = 0
mysql_native_password_proxy_users = 1

default_password_lifetime = 0
disconnect_on_expired_password = 1

password_history = 0
password_require_current = 0
password_reuse_interval = 0

safe_user_create = 1

################################################################################
### TABLES ###
################################################################################
# lower_case_table_names = 0 # Windows bugs if set to 0
default_storage_engine = 'InnoDB'
default_tmp_storage_engine = 'InnoDB'
default_table_encryption = 0

external_locking = 0
concurrent_insert = 0

flush = 0
flush_time = 0

sql_generate_invisible_primary_key = 0
sql_require_primary_key = 1
